<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEUJcW3WXYkPE4sxY8P2vaupD-jPUkrTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>879624233055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nutrihome</string>
	<key>PROJECT_ID</key>
	<string>nutrihome-aa612</string>
	<key>STORAGE_BUCKET</key>
	<string>nutrihome-aa612.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879624233055:ios:686a4228c51c0ed4863bea</string>
</dict>
</plist>